figure.highlight code code, figure.highlight code pre{color:#fdce93;background-color:#3f3f3f}
figure.highlight code .hll{background-color:#222}
figure.highlight code .c{color:#7f9f7f}
figure.highlight code .err{color:#e37170;background-color:#3d3535}
figure.highlight code .g{color:#7f9f7f}
figure.highlight code .k{color:#f0dfaf}
figure.highlight code .l{color:#ccc}
figure.highlight code .n{color:#dcdccc}
figure.highlight code .o{color:#f0efd0}
figure.highlight code .x{color:#ccc}
figure.highlight code .p{color:#41706f}
figure.highlight code .cm{color:#7f9f7f}
figure.highlight code .cp{color:#7f9f7f}
figure.highlight code .c1{color:#7f9f7f}
figure.highlight code .cs{color:#cd0000;font-weight:bold}
figure.highlight code .gd{color:#cd0000}
figure.highlight code .ge{color:#ccc;font-style:italic}
figure.highlight code .gr{color:red}
figure.highlight code .gh{color:#dcdccc;font-weight:bold}
figure.highlight code .gi{color:#00cd00}
figure.highlight code .go{color:gray}
figure.highlight code .gp{color:#dcdccc;font-weight:bold}
figure.highlight code .gs{color:#ccc;font-weight:bold}
figure.highlight code .gu{color:purple;font-weight:bold}
figure.highlight code .gt{color:#0040D0}
figure.highlight code .kc{color:#dca3a3}
figure.highlight code .kd{color:#ffff86}
figure.highlight code .kn{color:#dfaf8f;font-weight:bold}
figure.highlight code .kp{color:#cdcf99}
figure.highlight code .kr{color:#cdcd00}
figure.highlight code .kt{color:#00cd00}
figure.highlight code .ld{color:#cc9393}
figure.highlight code .m{color:#8cd0d3}
figure.highlight code .s{color:#cc9393}
figure.highlight code .na{color:#9ac39f}
figure.highlight code .nb{color:#efef8f}
figure.highlight code .nc{color:#efef8f}
figure.highlight code .no{color:#ccc}
figure.highlight code .nd{color:#ccc}
figure.highlight code .ni{color:#c28182}
figure.highlight code .ne{color:#c3bf9f;font-weight:bold}
figure.highlight code .nf{color:#efef8f}
figure.highlight code .nl{color:#ccc}
figure.highlight code .nn{color:#8fbede}
figure.highlight code .nx{color:#ccc}
figure.highlight code .py{color:#ccc}
figure.highlight code .nt{color:#9ac39f}
figure.highlight code .nv{color:#dcdccc}
figure.highlight code .ow{color:#f0efd0}
figure.highlight code .w{color:#ccc}
figure.highlight code .mf{color:#8cd0d3}
figure.highlight code .mh{color:#8cd0d3}
figure.highlight code .mi{color:#8cd0d3}
figure.highlight code .mo{color:#8cd0d3}
figure.highlight code .sb{color:#cc9393}
figure.highlight code .sc{color:#cc9393}
figure.highlight code .sd{color:#cc9393}
figure.highlight code .s2{color:#cc9393}
figure.highlight code .se{color:#cc9393}
figure.highlight code .sh{color:#cc9393}
figure.highlight code .si{color:#cc9393}
figure.highlight code .sx{color:#cc9393}
figure.highlight code .sr{color:#cc9393}
figure.highlight code .s1{color:#cc9393}
figure.highlight code .ss{color:#cc9393}
figure.highlight code .bp{color:#efef8f}
figure.highlight code .vc{color:#efef8f}
figure.highlight code .vg{color:#dcdccc}
figure.highlight code .vi{color:#ffffc7}
figure.highlight code .il{color:#8cd0d3}